<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Package">
            <directory>tests</directory>
            <exclude>tests/Actions/TwoFactorActionsTest.php</exclude>
            <exclude>tests/Http/Controllers/TwoFactorAuthenticationControllerTest.php</exclude>
            <exclude>tests/Http/Controllers/TwoFactorRecoveryCodeControllerTest.php</exclude>
            <exclude>tests/Http/Controllers/TwoFactorChallengeControllerTest.php</exclude>
            <exclude>tests/Traits/TwoFactorAuthenticatableTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
